<!--
  ~ Copyright 2020-2025 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>
	<appender name="spring-message" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p SPR [%-15.15t] %-30.30c{1}%4L : %m %n</pattern>
		</encoder>
	</appender>

	<appender name="application-message" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p --- [%-15.15t] %-30.30c{1}%4L : %m %n</pattern>
		</encoder>
	</appender>

	<!-- Spring framework loggers -->
	<logger name="org.reflections" level="ERROR"/>
	<logger name="org.springframework.security.authentication" level="DEBUG"/>
	<logger name="org.springframework.boot.web.embedded.tomcat" level="INFO"/>
	<logger name="org.springframework.cache" level="TRACE"/>
	<logger name="com.zaxxer.hikari.HikariConfig" level="INFO"/>
	<logger name="com.zaxxer.hikari" level="ERROR"/>
	<logger name="org.hibernate.SQL" level="DEBUG"/>
	<logger name="org.springframework.orm.jpa" level="DEBUG"/>
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
	<logger name="com.thoughtworks.xstream" level="OFF"/>
	<logger name="org.apache.tomcat.util.net.NioEndpoint" level="OFF"/>
	<logger name="org.apache.coyote.http11.Http11NioProtocol" level="OFF"/>
	<logger name="org.apache.coyote.http11.Http11Processor" level="OFF"/>

	<!--
	<logger name="org.springframework.transaction.interceptor" level="TRACE"/>
	-->
	<!-- flooding the log -->
	<logger name="com.netflix.discovery" level="ERROR"/>

	<!-- Spvitamin loggers -->
	<logger name="hu.perit.spvitamin" level="DEBUG" additivity="false">
		<appender-ref ref="application-message"/>
	</logger>

	<!-- Application specific loggers -->

	<root level="WARN">
		<appender-ref ref="spring-message"/>
	</root>
</configuration>
