<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Properties>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p --- [%-15.15t] %-30.30c{1}%4L : %m %n</Property>
    </Properties>

    <appenders>
        <console name="Console-Appender" target="SYSTEM_OUT">
            <patternLayout pattern="${PATTERN}"/>
        </console>
    </appenders>

    <loggers>
        <root level="debug">
            <AppenderRef ref="Console-Appender"/>
        </root>
    </loggers>
</configuration>